

<div class="container">

    <div class="text-center">
        <h1>Bienvenido</h1>
        <div class="card">
            <div class="card-body">
                <img class="imgSelected card-img-top" src="~/img/uruguai.jpg" alt="Card image cap">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <!--BRASIL-->
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <a class="countryLink" href="/Home/Country/1">
                            Brasil
                            <img class="card-img-top imgCountry" src="~/img/brasil.png" alt="Card image cap">
                            @*@Html.ActionLink("Brasil", "Country", new { id = 1 }, null)*@
                        </a>
                    </div>
                </div>
            </div>

            <!--CHILE-->
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <a class="countryLink" href="/Home/Country/2">
                            Chile
                            <img class="card-img-top imgCountry" src="~/img/chile.png" alt="Card image cap">
                            @*@Html.ActionLink("Brasil", "Country", new { id = 2 }, null)*@
                        </a>
                    </div>
                </div>
            </div>

            <!--PARAGUAI-->
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <a class="countryLink" href="/Home/Country/3">
                            Paraguai
                            @*@Html.ActionLink("Brasil", "Country", new { id = 3 }, null)*@
                            <img class="card-img-top imgCountry" src="~/img/paraguai.png" alt="Card image cap">
                        </a>
                    </div>
                </div>
            </div>

            <!--URUGUAI-->
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <a class="countryLink" href="/Home/Country/4">
                            Uruguai
                            @*@Html.ActionLink("Brasil", "Country", new { id = 4 }, null)*@
                            <img class="card-img-top imgCountry" src="~/img/uruguai.jpg" alt="Card image cap">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
